[hidden] {
  display: none !important;
}

.uploadForm {
	margin-left: 42%;
	margin-top: 40px;
}

.fileUpload {
	float: left;
	margin: 0 20px;
}

.uploadStatus {
	width: 350px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}